<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="./css/reset.css" />
		<link rel="stylesheet" href="./css/base.css" />
		<link rel="stylesheet" href="./css/layout.css" />
		<link rel="stylesheet" href="./css/modules.css" />
		<title>Card Favorites</title>
		<link href="base.css" rel="stylesheet" />
	</head>
	<body>
		<header></header>
		<main>
			<h4>Saved Cards</h4>
			<ul>
				<% savedCardArry.forEach(card => { %>
				<section>
					<li><img src="<%= card.image_url %>" alt="" /></li>
					<li><h1><%= card.name %></h1></li>
					<li><h3><%= card.artist %></h3></li>
					<li><p><%= card.artist_store_url %></p></li>

					<form action="/searchArtist" method="get">
						<button type="submit">See more from <%= card.artist %></button>
					</form>
					<form action="/delete/<%= card.id %>?_method=DELETE" method="POST">
						<button type="submit">Delete Book</button>
					</form>
				</section>
				<%})%>
			</ul>
		</main>
	</body>
</html>
